networks:
  proxy_net:
    external: true
  gluetun:
    driver: bridge

services:
  gluetun:
    image: qmcgaw/gluetun:latest
    container_name: gluetun
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    environment:
      - VPN_SERVICE_PROVIDER=ipvanish
      - OPENVPN_USER=${VPN_USER}
      - OPENVPN_PASSWORD=${VPN_PASSWORD}
      - SERVER_COUNTRY=United States
    ports:
      - 8080:8080
      - 6881:6881
      - 6881:6881/udp
    networks:
      - gluetun

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    network_mode: "service:gluetun"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TZ}
      - WEBUI_PORT=8080
      - TORRENTING_PORT=6881
    volumes:
      - ${TANK_ROOT}/config/qbittorrent:/config
      - ${TANK_ROOT}/torrents:/torrents
    restart: unless-stopped
    depends_on:
      - gluetun

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TZ}
    volumes:
      - ${TANK_ROOT}/config/prowlarr:/config
    ports:
      - 9696:9696
    restart: unless-stopped
    networks:
      - gluetun
    depends_on:
      - gluetun

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TZ}
    volumes:
      - ${TANK_ROOT}/config/sonarr:/config
      - ${TANK_ROOT}/media/shows:/shows
      - ${TANK_ROOT}/torrents:/torrents
    ports:
      - 8989:8989
    restart: unless-stopped
    networks:
      - gluetun
    depends_on:
      - gluetun

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TZ}
    volumes:
      - ${TANK_ROOT}/config/radarr:/config
      - ${TANK_ROOT}/media/movies:/movies
      - ${TANK_ROOT}/torrents:/torrents
    ports:
      - 7878:7878
    restart: unless-stopped
    networks:
      - gluetun
    depends_on:
      - gluetun

  lidarr:
    image: linuxserver/lidarr:latest
    container_name: lidarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TZ}
    volumes:
      - ${TANK_ROOT}/config/lidarr:/config
      - ${TANK_ROOT}/media/music:/music
      - ${TANK_ROOT}/torrents:/torrents
    ports:
      - 8686:8686
    restart: unless-stopped
    networks:
      - gluetun
    depends_on:
      - gluetun

  jellyseerr:
    image: fallenbagel/jellyseerr:latest
    container_name: jellyseerr
    environment:
      - LOG_LEVEL=debug
      - TZ=${TZ}
    ports:
      - 5055:5055
    volumes:
      - ${TANK_ROOT}/config/jellyseer:/app/config
    restart: unless-stopped

  jellyfin:
    image: jellyfin/jellyfin:preview
    container_name: jellyfin
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TZ}
    volumes:
      - ${TANK_ROOT}/config/jellyfin/config:/config
      - ${TANK_ROOT}/config/jellyfin/cache:/cache
      - ${TANK_ROOT}/media:/media
    ports:
      - 8096:8096
      - 8920:8920
      - 7359:7359/udp
      - 1900:1900/udp
    restart: unless-stopped

