services:
  homer:
    image: b4bz/homer
    container_name: homer
    networks:
      - proxy_net
    volumes:
      - ${TANK_ROOT}/config/homer:/www/assets
    ports:
      - 8082:8080
    user: 1000:1000 # default
    environment:
      - INIT_ASSETS=1 # default, requires the config directory to be writable for the container user (see user option)
    restart: unless-stopped

networks:
  proxy_net:
    external: true
    name: proxy_net
